<h1>Employees</h1>

<ul>
        <li><%= @employee.first_name+" "+@employee.last_name%></li>
        <li><%= "Alias: "+ @employee.title %></li>
        <li><%= "Office: "+ @employee.office %></li>
        <img src=<%= @employee.img_url %>>

</ul>

